<launch>

    <!--<node pkg="usb_cam" name="usb_cam" type="usb_cam_node" /> -->
   <!-- <node pkg="usb_cam_below" name="usb_cam_below" type="usb_cam_below_node" /> -->
    <arg name="device" default="/dev/video0" />

    <node name="example_node" pkg="uvc_camera" type="uvc_camera_node" output="screen">
      <remap from="image_raw/compressed" to="image_raw" />
      <param name="device" value="$(arg device)" />
      <param name="width" value="640" />
      <param name="height" value="480" />
      <param name="format" value="yuyv" />
      <param name="fps" value="100" />
      <param name="power_line_frequency" value="50"/>
      <param name="auto_exposure" value="0" />
      <param name="exposure_absolute" value="75" />
      <param name="exposure_auto_priority" value="0" />
      <param name="auto_white_balance" value="0" />
      <param name="white_balance_temperature" value="2800" />
      <param name="brightness" value="-45" />
      <param name="auto_focus" value="0" />
      <param name="focus_absolute" value="0" />
      <param name="contrast" value="16" />
      <param name="saturation" value="128" />
      <param name="hue" value="0" />
      <param name="gamma" value="100" />
      <param name="sharpness" value="3" />
      <param name="backlight_compensation" value="2" />
      <param name="gain" value="30" />
      <param name="auto_gain" value="0" />
      <param name="horizontal_flip" value="0" />
      <param name="vertical_flip" value="0" />
    </node>
   <node pkg="opt_handler" name="opt_handler" type="opt_handler" output="screen"/>
    <node pkg="ZBAR" name="ZBAR" type="zbar_detector" output="screen"/> 
    <node pkg="serial_handler" name="serial_handler" type="serial_handler" output="screen"/>
   <node pkg="LineFollow" name="LineFollow" type="LineFollow" output="screen"/> 
    <!-- <node pkg="pole_handler" name="pole_handler" type="pole_handler" output="screen"/> -->

</launch>
